.background-effect{
    width: 100vw;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 500px;
}
section h2{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: white;
    font-weight: 700px;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.banner .blocks{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vh;
    background: #fff;
    animation: animateBackground 5s ease-in-out forwards;
}
@keyframes animateBackground {
    0%{
        transform: translateZ(2000px);
    }
    100%{
        transform: translateZ(0px);
    }
}

